{% extends "layout.html" %}

<!-- section -->
{% block section %}
<section class="bg">
    <div class="sign-up-area">
        <h1>My Wish List</h1>
        <h2>Step into our wish note by signing up here.</h2>
        <div class="input-button-wrap">
            <!--            <div class="input-group mb-3">-->
            <!--                <span class="input-group-text button-name">Name</span>-->
            <label for="name">Name <input type="text" class="input_style" id="name">
            </label>

            <label for="id">ID <input type="text" class="input_style" id="id">
            </label>

            <label for="pw">Password <input type="password" class="input_style" id="pw">
            </label>

            <label for="pw_check">PW check <input type="password" class="input_style" id="pw_check">
            </label>

            <label for="pw_check">Address <input type="textarea" class="input_style" id="address">
            </label>
            <button class="btn btn-light sign-up-button" onclick="signUp()">Sign Up</button>
        </div>
    </div>
</section>
{% endblock %}

<!-- style -->
{% block style %}

<style>
    * {
        font-family: 'Noto Serif KR', serif;
    }

    .bg {
        width: 100vw;
        height: calc(100vh - 64px);
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../static/mywishlist_login2.jpg");
        background-size: cover;
        background-position: center;
    }

    .bg .sign-up-area {
        color: honeydew;
        position: fixed;
        right: 15%;
        bottom: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .bg .sign-up-area h1 {
        font-family: 'Tangerine', cursive;
        font-size: 135px;
        margin: 10% 0 0 0;
    }

    .bg .sign-up-area h2 {
        font-size: 35px;
        font-family: 'Tangerine', cursive;
        color: beige;
        position: fixed;
        right: 15%;
        bottom: 58%;
        /*margin: 0 0 0 0;*/
    }

    .input-button-wrap {
        width: 30%;
        position: fixed;
        left: 55%;
        bottom: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .input-button-wrap .input_style {
        border: 2px solid black;
        border-radius: 5px;
        margin: 0 0 5px 2px;
        background-color: rgba(255 255 255 0.1);
        /*color: white;*/
        height: 40px;
        width: 80%;
    }

    .input-button-wrap .sign-up-button {
        margin-top: 1rem;
        background-color: white;
        opacity: 30%;
    }

    .input-button-wrap .sign-up-button:hover {
        margin-top: 1rem;
        background-color: white;
        opacity: 100%;
    }

</style>
{% endblock %}

<!-- script -->
{% block script %}
<script>
    function signUp() {
        let id = $('#id').val()
        let pw = $('#pw').val()
        let name = $('#name').val()
        let pw_check = $('#pw_check').val()
        let address = $('#address').val()

        if (name === '') return alert('이름을 입력해주세요')
        if (id === '') return alert('아이디를 입력해주세요')
        if (pw === '') return alert('비밀번호를 입력해주세요')
        if (pw != pw_check) return alert('비밀번호와 비밀번호 확인이 일치하지 않습니다')
        if (address === '') return alert('주소를 입력해주세요')


        $.ajax({
            type: "POST",
            url: "/api/register",
            data: {id_give: id, pw_give: pw, name_give: name},
            success: function (response) {
                if (response['result'] === 'success') {
                    alert('🎉 Sign up is complete 🎉')
                    location.href = '/login'
                } else {
                    alert(response['msg'])
                }
            }
        })
    }
</script>
{% endblock %}