{% extends "layout.html" %}

<!-- section -->
{% block section %}
<section class="bg">
    <div class="sign-up-area">
        <h1>My Wish List</h1>
        <h2>Step into our wish note by signing up here.</h2>
        <div class="input-button-wrap">
            <!--            <div class="input-group mb-3">-->
            <!--                <span class="input-group-text button-name">Name</span>-->
            <label class="label_name" for="name">Name <input type="text" class="input_style_name" id="name">
            </label>

            <label class="label_id" for="id">ID <input type="text" class="input_style_id" id="id">
            </label>

            <label class="label_pw" for="pw">Password <input type="password" class="input_style_pw" id="pw">
            </label>

            <label class="label_pw_check" for="pw_check">PW check <input type="password" class="input_style_pw_check"
                                                                         id="pw_check">
            </label>

            <label class="label_address" for="address">Address <input type="textarea" class="input_style_address"
                                                                      id="address">
            </label>
            <button class="btn btn-light sign-up-button" onclick="signUp()">Sign Up</button>
        </div>
    </div>
</section>
{% endblock %}

<!-- style -->
{% block style %}

<style>
    * {
        font-family: 'Noto Serif KR', serif;
    }

    .bg {
        width: 100vw;
        height: calc(100vh - 64px);
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../static/mywishlist_login2.jpg");
        background-size: cover;
        background-position: center;
    }

    .bg .sign-up-area {
        color: honeydew;
        position: absolute;
        right: 15%;
        bottom: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .bg .sign-up-area h1 {
        font-family: 'Tangerine', cursive;
        font-size: 135px;
    }

    .bg .sign-up-area h2 {
        font-size: 35px;
        font-family: 'Tangerine', cursive;
        color: beige;
        margin: -7% 0 0 0;
    }

    .input-button-wrap {
        display: flex;
        flex-direction: column;
        margin: 10% 0 -10% 0;
    }

    .input-button-wrap input {
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        height: 40px;
        width: 70%;
    }

    .input-button-wrap label {
        display: inline-block;
        width: 400px;
    }

    /*.input-button-wrap .label_name {*/
    /*    position: fixed;*/
    /*    left: 55%;*/
    /*    bottom: 42%;*/
    /*}*/

    /*.input-button-wrap .label_id {*/
    /*    position: fixed;*/
    /*    left: 55%;*/
    /*    bottom: 36%;*/
    /*}*/

    /*.input-button-wrap .label_pw {*/
    /*    position: fixed;*/
    /*    left: 55%;*/
    /*    bottom: 30%;*/
    /*}*/

    /*.input-button-wrap .label_pw_check {*/
    /*    position: fixed;*/
    /*    left: 55%;*/
    /*    bottom: 24%;*/
    /*}*/

    /*.input-button-wrap .label_address {*/
    /*    position: fixed;*/
    /*    left: 55%;*/
    /*    bottom: 18%;*/
    /*}*/

    /*.input-button-wrap .input_style_name {*/
    /*    border: 1px solid black;*/
    /*    border-radius: 5px;*/
    /*    background-color: rgba(255, 255, 255, 0.1);*/
    /*    color: white;*/
    /*    !*position: relative;*!*/
    /*    !*left: 8%;*!*/
    /*    position: fixed;*/
    /*    right: 15%;*/
    /*    bottom: 42%;*/
    /*    height: 40px;*/
    /*    width: 23%;*/
    /*}*/

    /*.input-button-wrap .input_style_id {*/
    /*    border: 1px solid black;*/
    /*    border-radius: 5px;*/
    /*    background-color: rgba(255, 255, 255, 0.1);*/
    /*    !*margin: 0 0 5px 0;*!*/
    /*    !*position: relative;*!*/
    /*    !*left: 14.5%;*!*/
    /*    position: fixed;*/
    /*    right: 15%;*/
    /*    bottom: 36%;*/
    /*    color: white;*/
    /*    height: 40px;*/
    /*    width: 23%;*/
    /*}*/

    /*.input-button-wrap .input_style_pw {*/
    /*    border: 1px solid black;*/
    /*    border-radius: 5px;*/
    /*    background-color: rgba(255, 255, 255, 0.1);*/
    /*    !*margin: 0 0 5% 0;*!*/
    /*    !*position: relative;*!*/
    /*    !*left: 1.5%;*!*/
    /*    position: fixed;*/
    /*    right: 15%;*/
    /*    bottom: 30%;*/
    /*    color: white;*/
    /*    height: 40px;*/
    /*    width: 23%;*/
    /*}*/

    /*.input-button-wrap .input_style_pw_check {*/
    /*    border: 1px solid black;*/
    /*    border-radius: 5px;*/
    /*    background-color: rgba(255, 255, 255, 0.1);*/
    /*    !*margin: 0 0 5px 0;*!*/
    /*    !*position: relative;*!*/
    /*    !*left: 1%;*!*/
    /*    position: fixed;*/
    /*    right: 15%;*/
    /*    bottom: 24%;*/
    /*    color: white;*/
    /*    height: 40px;*/
    /*    width: 23%;*/
    /*}*/

    /*.input-button-wrap .input_style_address {*/
    /*    border: 1px solid black;*/
    /*    border-radius: 5px;*/
    /*    background-color: rgba(255, 255, 255, 0.1);*/
    /*    !*margin: 0 0 5px 0;*!*/
    /*    !*position: relative;*!*/
    /*    !*left: 4.5%;*!*/
    /*    position: fixed;*/
    /*    right: 15%;*/
    /*    bottom: 18%;*/
    /*    color: white;*/
    /*    height: 40px;*/
    /*    width: 23%;*/
    /*}*/

    .input-button-wrap .sign-up-button {
        margin-top: 1rem;
        background-color: white;
        opacity: 30%;
    }

    .input-button-wrap .sign-up-button:hover {
        margin-top: 1rem;
        background-color: white;
        opacity: 100%;
    }

</style>
{% endblock %}

<!-- script -->
{% block script %}
<script>
    function signUp() {
        let id = $('#id').val()
        let pw = $('#pw').val()
        let name = $('#name').val()
        let pw_check = $('#pw_check').val()
        let address = $('#address').val()

        if (name === '') return alert('이름을 입력해주세요')
        if (id === '') return alert('아이디를 입력해주세요')
        if (pw === '') return alert('비밀번호를 입력해주세요')
        if (pw != pw_check) return alert('비밀번호와 비밀번호 확인이 일치하지 않습니다')
        if (address === '') return alert('주소를 입력해주세요')


        $.ajax({
            type: "POST",
            url: "/api/register",
            data: {
                id_give: id,
                pw_give: pw,
                name_give: name,
                address_give: address
            },
            success: function (response) {
                if (response['result'] === 'success') {
                    alert('🎉 Sign up is complete 🎉')
                    location.href = '/login'
                } else {
                    alert(response['msg'])
                }
            }
        })
    }
</script>
{% endblock %}