{% extends "layout.html" %}

<!-- section -->
{% block section %}

<section>
    <aside>
        <h4> My friends'</h4>
        <h5> Wish List </h5>
        <button type="button" class="btn btn-light">Add friend</button>
        <button type="button" class="btn btn-light">Delete friend</button>
        <!--                위의 두 버튼 안쪽 글씨 크기를 바꾸고 싶은데 잘 안됩니다..ㅠㅠ-->
        <a href="" class="name_list">- 임도형 -</a>
        <a href="" class="name_list">- 최예람 -</a>
        <a href="" class="name_list">- 최아영 -</a>
        <!--                여기에 db에서 가져온 친구 목록을 불러오려고 합니다..!-->
    </aside>
    <article class="bg">
        <div class="title-area">
            <h1>My Wish List</h1>
        </div>
        <div class="button_area">
            <h6>wish list </h6>
            <button onclick="add_list()" id="add_button" type="button" class="btn btn-outline-light">추가</button>
            <button onclick="delete_list()" id="delete_button" type="button" class="btn btn-outline-light">삭제</button>
        </div>
        <div class="subtitle-area">
            <h1> 당신의 위시리스트는 얼마나 채워져있나요? </h1>
            <h1> 소중한 사람들이 바랬던 선물을 해보세요.</h1>
        </div>
        <div id="post-box-area" class="form-post" style="display:none">
            <p class="post-box-title">Add Object</p>
            <p class="post-box-subtitle">위시리스트에 제품을 추가해보세요.</p>
            <div class="form-group">
                <label for="post-name">제품 이름</label> <input id="post-name" class="form-control">
            </div>
            <div class="form-group">
                <label for="post-price">제품 가격</label> <input id="post-price" class="form-control">
            </div>
            <div class="form-group">
                <label for="post-rank">제품 랭크</label>
                <select id="post-rank" class="form-control">
                    <option value="0">별 없음! -일단 담아보긴 했다-</option>
                    <option value="0.5">별 반! -그냥 그래-</option>
                    <option value="1">별 하나! -눈에 조금 띄네-</option>
                    <option value="1.5">별 하나반! -있으면 좋긴 하겠다-</option>
                    <option value="2">별 둘! -사긴 싫지만 받고 싶다-</option>
                    <option value="2.5">별 둘반! -아 이거 애매하다-</option>
                    <option value="3">별 셋! -오 이거 내 스타일-</option>
                    <option value="3.5">별 셋반! -돈모으면 사야지-</option>
                    <option value="4">별 넷! -지금살지 돈모으고살지 고민중-</option>
                    <option value="4.5">별 넷반! -돈안모여도 이건 사야돼-</option>
                    <option value="5">별 다섯! -지금 이미 결제중-</option>
                </select>
            </div>
            <div class="form-group">
                <label for="post-url">제품 URL</label>
                <input id="post-url" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="post-comment">간단 코멘트</label>
                <textarea id="post-comment" class="form-control" rows="2"></textarea>
            </div>
            <button id="add_list_button" type="button" class="btn btn-light" onclick="postList()">Add</button>
        </div>
        <div id="delete-post-box-area" class="form-post" style="display:none">
            <p class="delete-post-box-title">Delete Object</p>
            <p class="delete-post-box-subtitle">위시리스트의 제품을 삭제할 수 있습니다.</p>
            <div class="form-group">
                <label for="delete-post-name">제품 이름</label> <input id="delete-post-name" class="form-control">
            </div>
            <button id="delete_list_button" type="button" class="btn btn-light" onclick="removeList()">Delete</button>
        </div>
        <div id="card-area">
            <div class="card">
                <img src="../static/ex_candle.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="card-title">제품 이름</a>
                    <div class="rank">
                        <img class="star" src="../static/full-star.png" alt="">
                        <img class="star" src="../static/full-star.png" alt="">
                        <img class="star" src="../static/full-star.png" alt="">
                        <img class="star" src="../static/half-star.png" alt="">
                        <img class="star" src="../static/empty-star.png" alt="">
                    </div>
                    <p class="card-text">제품 가격</p>
                    <p class="card-text">제품 코멘트</p>
                </div>
                <div class="card-body">
                    <button onclick="good_button()" type="button" class="btn btn-light">good</button>
                    <button onclick="bad_button()" type="button" class="btn btn-light">bad</button>
                </div>
            </div>
        </div>

    </article>
</section>

{% endblock %}

<!-- style -->
{% block style %}
<style>
    * {
        font-family: 'Noto Serif KR', serif;
    }

    section {
        height: calc(100vh - 64px);
        display: flex;
        flex-direction: row;

    }

    aside {
        width: 200px;
        background-color: rgb(19% 17% 20%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    aside h4 {
        font-family: 'Tangerine', cursive;
        font-size: 45px;
        color: honeydew;
    }

    aside h5 {
        font-family: 'Tangerine', cursive;
        font-size: 60px;
        color: honeydew;
        margin: 0 0 20px 0;
    }

    aside button {
        font-size: 6px !important;
        padding: 0 !important;
        margin: 10px 0 10px 0;
        width: 90px;
        height: 20px;
    }

    aside .name_list {
        margin: 10px 0 10px 0;
        color: honeydew;
    }

    aside .name_list:hover {
        margin: 10px 0 10px 0;
        color: peachpuff;
        text-decoration: none;
    }

    .bg {
        width: calc(100vw - 200px);
        height: calc(100vh - 64px);
        background-image: url("../static/mywishlist_bg.jpg");
        background-size: cover;
        background-position: right;
    }

    article {
        width: calc(100vw - 200px);
        overflow: auto;
    }

    article .title-area {
        height: 120px;
        font-family: 'Tangerine', cursive;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        margin: 10% 5% 0 0;
    }

    article .title-area h1 {
        font-size: 150px;
        color: honeydew;
    }

    article .button_area {
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 1% 5% 0 0;
    }

    article .button_area h6 {
        color: lightgray;
        font-size: 15px;
        align-items: end;
        margin: 0 0.8% 0 0;
    }

    article .button_area button {
        color: lightgray;
        width: 45px;
        height: 25px;
        font-size: 10px;
        align-items: center;
        margin: 0 0.5% 0 0;
        padding: 0;
    }

    article .subtitle-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        color: honeydew;
        margin: 3% 5% 5% 0;
    }

    article .subtitle-area h1 {
        font-size: 18px;
        margin: 0 0 1% 0;
    }

    article #card-area {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        justify-content: space-evenly;
        margin: 13% 5% 10% 5%;
        gap: 50px 50px;
        grid-auto-rows: 500px;
    }

    article #card-area .card {
        width: 190px;
        height: 300px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    article #card-area .card .rank {
        justify-content: center;
        flex-direction: row;
        margin: 0 0 15% 0;
    }

    article #card-area .card .rank .star {
        width: 20px;
        height: 20px;
    }

    article #card-area .card .card-body {
        justify-content: center;
        align-items: center;
        margin: 0 0 0 0;
    }

    article #card-area .card .card-body .card-title {
        text-decoration: none;
        font-size: 20px;
        color: black;
        margin: 0 0 10% 0;
    }

    article #card-area .card .card-body .card-text {
        font-size: 13px;
        margin: 10% 0 0 0;
    }

    article #card-area .card .card-img-top {
        width: 190px;
        height: 190px;
        margin: 0;
    }

    article #post-box-area {
        width: 500px;
        margin: 20px auto;
        padding: 20px;
        /*border: transparent solid 1px;*/
        /*border: rgb(19% 17% 20%) solid 1px;*/
        border-radius: 5px;
        /*background: -webkit-linear-gradient( white, rgb(19% 17% 20%));*/
        /*background: -o-linear-gradient(white, rgb(19% 17% 20%));*/
        /*background: -moz-linear-gradient(white, rgb(19% 17% 20%));*/
        background: linear-gradient(rgb(19% 17% 20%), rgb(20% 20% 20%));
        /*background-color: rgb(19% 17% 20%);*/
        /*background-color: white;*/
        color: honeydew;
        /*color: rgb(19% 17% 20%);*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    article #post-box-area .form-group {
        width: 80%;
    }

    article #post-box-area .post-box-title {
        font-family: 'Tangerine', cursive;
        font-size: 80px;
    }

    article #post-box-area .post-box-subtitle {
        font-size: 13px;
        margin: -5% 0 10% 0;
    }

    article #post-box-area #post-rank {
        width: 100%;
        color: black;
    }

    article #post-box-area #add_list_button {
        height: 30px;
        padding: 4px 8px 8px 8px;
        font-family: 'Tangerine', cursive;
        font-weight: 700;
        font-size: 20px;
    }

    #post-box-area #post-comment {
        width: 100%;
        border-radius: 5px;
        margin: 0 0 8% 0;
    }

    article #delete-post-box-area {
        width: 500px;
        margin: 20px auto;
        padding: 20px;
        /*border: transparent solid 1px;*/
        /*border: rgb(19% 17% 20%) solid 1px;*/
        border-radius: 5px;
        /*background: -webkit-linear-gradient( white, rgb(19% 17% 20%));*/
        /*background: -o-linear-gradient(white, rgb(19% 17% 20%));*/
        /*background: -moz-linear-gradient(white, rgb(19% 17% 20%));*/
        background: linear-gradient(rgb(19% 17% 20%), rgb(20% 20% 20%));
        /*background-color: rgb(19% 17% 20%);*/
        /*background-color: white;*/
        color: honeydew;
        /*color: rgb(19% 17% 20%);*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    article #delete-post-box-area .delete-post-box-title {
        font-family: 'Tangerine', cursive;
        font-size: 80px;
    }

    article #delete-post-box-area .delete-post-box-subtitle {
        font-size: 13px;
        margin: -5% 0 10% 0;
    }

    article #delete-post-box-area #delete_list_button {
        height: 30px;
        padding: 4px 8px 8px 8px;
        font-family: 'Tangerine', cursive;
        font-weight: 700;
        font-size: 20px;
    }

</style>
{% endblock %}

<!-- script -->
{% block script %}
<script>
    $(document).ready(function () {
        // getUserNickname()
        let user = "{{ user['name'] }}"
        alert(`${user}님 반갑습니다 👋`)
        showList();
    });

    function signOut() {
        // 쿠키 삭제
        let user = "{{ user['name'] }}"
        alert(`${user}님 안녕히가세요 👋`)
        $.removeCookie('token_give')
        location.href = '/login'
    }

    function add_list() {
        // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
        if ($("#post-box-area").css("display") == "flex") {
            // post-box를 가리고
            $("#post-box-area").hide();
            // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
            $("#add_button").text("추가");
        } else {
            // 아니면(눈에 보이지 않으면) post-box를 펴라
            $("#post-box-area").show();
            // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
            $("#add_button").text("닫기");
        }
    }

    function delete_list() {
        // id 값 delete-post-box의 display 값이 block 이면(= 눈에 보이면)
        if ($("#delete-post-box-area").css("display") == "flex") {
            // delete-post-box를 가리고
            $("#delete-post-box-area").hide();
            // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
            $("#delete_button").text("삭제");
        } else {
            // 아니면(눈에 보이지 않으면) post-box를 펴라
            $("#delete-post-box-area").show();
            // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
            $("#delete_button").text("닫기");
        }
    }

    function postList() {
        let user = "{{ user['name'] }}"
        let name = $("#post-name").val();
        let price = $("#post-price").val();
        let rank = $("#post-rank").val();
        let url = $("#post-url").val();
        let comment = $("#post-comment").val();

        if (name === '') return alert('제품의 이름을 입력해주세요')
        if (price === '') return alert('제품의 가격을 입력해주세요')
        if (isNaN(price)) return alert('제품의 가격을 숫자로 입력해주세요')
        if (rank === '') return alert('제품의 순위를 입력해주세요')
        if (isNaN(price)) return alert('제품의 순위를 숫자로 입력해주세요')
        if (url === '') return alert('url을 입력해주세요')
        if (!/(http(s)?:\/\/)([a-z0-9\w]+\.*)+[a-z0-9]{2,4}/gi.test(url)) return alert('url을 올바르게 입력해주세요')
        if (comment === '') return alert('comment를 입력해주세요')

        // 2. memo_list에 POST 방식으로 메모 생성 요청하기
        $.ajax({
            type: "POST", // POST 방식으로 요청하겠다.
            url: "/memo_list", // /memo_list라는 url에 요청하겠다.
            data: {
                user_give: user,
                name_give: name,
                price_give: price,
                rank_give: rank,
                url_give: url,
                comment_give: comment
            }, // 데이터를 주는 방법
            success: function (response) { // 성공하면
                if (response["result"] == "success") {
                    //alert("포스팅 성공!");
                    // 3. 성공 시 페이지 새로고침하기
                    window.location.reload();
                } else {
                    alert("동일한 이름의 제품이 리스트에 이미 존재하거나 서버에 문제가 있습니다!");
                }
            }
        })
    }

    function showList() {
        let user = "{{ user['name'] }}"

        $.ajax({
            type: "GET",
            url: "/memo_list",
            data: {user_give: user},
            success: function (response) {
                let wish_list = response["wish_list"];
                console.log(wish_list);
                for (let i = 0; i < wish_list.length; i++) {
                    makeCard(wish_list[i]["name"],
                        wish_list[i]["price"],
                        wish_list[i]["comment"],
                        wish_list[i]["rank"],
                        wish_list[i]["image"]);
                }
            }
        })
    }

    function makeCard(name, price, comment, rank, image) {
        if (rank == 0) {
            let tempHtml = `<div class="card">
                            <img src="${image}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${name}</h5>
                                <div class="rank">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                </div>
                                <p class="card-text">${price}원</p>
                                <p class="card-text">${comment}</p>
                            </div>
                            <div class="card-body">
                                <button onclick="good_button()" type="button" class="btn btn-light">good</button>
                                <button onclick="bad_button()" type="button" class="btn btn-light">bad</button>
                            </div>
                        </div>`;
            $("#card-area").append(tempHtml);
        } else if (rank == 0.5) {
            let tempHtml = `<div class="card">
                            <img src="${image}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${name}</h5>
                                <div class="rank">
                                   <img class="star" src="../static/half-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                </div>
                                <p class="card-text">${price}원</p>
                                <p class="card-text">${comment}</p>
                            </div>
                            <div class="card-body">
                                <button onclick="good_button()" type="button" class="btn btn-light">good</button>
                                <button onclick="bad_button()" type="button" class="btn btn-light">bad</button>
                            </div>
                        </div>`;
            $("#card-area").append(tempHtml);
        } else if (rank == 1) {
            let tempHtml = `<div class="card">
                            <img src="${image}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${name}</h5>
                                <div class="rank">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                </div>
                                <p class="card-text">${price}원</p>
                                <p class="card-text">${comment}</p>
                            </div>
                            <div class="card-body">
                                <button onclick="good_button()" type="button" class="btn btn-light">good</button>
                                <button onclick="bad_button()" type="button" class="btn btn-light">bad</button>
                            </div>
                        </div>`;
            $("#card-area").append(tempHtml);
        } else if (rank == 1.5) {
            let tempHtml = `<div class="card">
                            <img src="${image}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${name}</h5>
                                <div class="rank">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/half-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                </div>
                                <p class="card-text">${price}원</p>
                                <p class="card-text">${comment}</p>
                            </div>
                            <div class="card-body">
                                <button onclick="good_button()" type="button" class="btn btn-light">good</button>
                                <button onclick="bad_button()" type="button" class="btn btn-light">bad</button>
                            </div>
                        </div>`;
            $("#card-area").append(tempHtml);
        } else if (rank == 2) {
            let tempHtml = `<div class="card">
                            <img src="${image}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${name}</h5>
                                <div class="rank">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                </div>
                                <p class="card-text">${price}원</p>
                                <p class="card-text">${comment}</p>
                            </div>
                            <div class="card-body">
                                <button onclick="good_button()" type="button" class="btn btn-light">good</button>
                                <button onclick="bad_button()" type="button" class="btn btn-light">bad</button>
                            </div>
                        </div>`;
            $("#card-area").append(tempHtml);
        } else if (rank == 2.5) {
            let tempHtml = `<div class="card">
                            <img src="${image}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${name}</h5>
                                <div class="rank">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/half-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                </div>
                                <p class="card-text">${price}원</p>
                                <p class="card-text">${comment}</p>
                            </div>
                            <div class="card-body">
                                <button onclick="good_button()" type="button" class="btn btn-light">good</button>
                                <button onclick="bad_button()" type="button" class="btn btn-light">bad</button>
                            </div>
                        </div>`;
            $("#card-area").append(tempHtml);
        } else if (rank == 3) {
            let tempHtml = `<div class="card">
                            <img src="${image}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${name}</h5>
                                <div class="rank">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                </div>
                                <p class="card-text">${price}원</p>
                                <p class="card-text">${comment}</p>
                            </div>
                            <div class="card-body">
                                <button onclick="good_button()" type="button" class="btn btn-light">good</button>
                                <button onclick="bad_button()" type="button" class="btn btn-light">bad</button>
                            </div>
                        </div>`;
            $("#card-area").append(tempHtml);
        } else if (rank == 3.5) {
            let tempHtml = `<div class="card">
                            <img src="${image}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${name}</h5>
                                <div class="rank">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/half-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                </div>
                                <p class="card-text">${price}원</p>
                                <p class="card-text">${comment}</p>
                            </div>
                            <div class="card-body">
                                <button onclick="good_button()" type="button" class="btn btn-light">good</button>
                                <button onclick="bad_button()" type="button" class="btn btn-light">bad</button>
                            </div>
                        </div>`;
            $("#card-area").append(tempHtml);
        } else if (rank == 4) {
            let tempHtml = `<div class="card">
                            <img src="${image}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${name}</h5>
                                <div class="rank">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/empty-star.png" alt="">
                                </div>
                                <p class="card-text">${price}원</p>
                                <p class="card-text">${comment}</p>
                            </div>
                            <div class="card-body">
                                <button onclick="good_button()" type="button" class="btn btn-light">good</button>
                                <button onclick="bad_button()" type="button" class="btn btn-light">bad</button>
                            </div>
                        </div>`;
            $("#card-area").append(tempHtml);
        } else if (rank == 4.5) {
            let tempHtml = `<div class="card">
                            <img src="${image}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${name}</h5>
                                <div class="rank">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/half-star.png" alt="">
                                </div>
                                <p class="card-text">${price}원</p>
                                <p class="card-text">${comment}</p>
                            </div>
                            <div class="card-body">
                                <button onclick="good_button()" type="button" class="btn btn-light">good</button>
                                <button onclick="bad_button()" type="button" class="btn btn-light">bad</button>
                            </div>
                        </div>`;
            $("#card-area").append(tempHtml);
        } else if (rank == 5) {
            let tempHtml = `<div class="card">
                            <img src="${image}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${name}</h5>
                                <div class="rank">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                   <img class="star" src="../static/full-star.png" alt="">
                                </div>
                                <p class="card-text">${price}원</p>
                                <p class="card-text">${comment}</p>
                            </div>
                            <div class="card-body">
                                <button onclick="good_button()"type="button" class="btn btn-light">good</button>
                                <button onclick="bad_button()" type="button" class="btn btn-light">bad</button>
                            </div>
                        </div>`;
            $("#card-area").append(tempHtml);
        }
    }

    function removeList() {
        let user = "{{ user['name'] }}"
        let name = $("#delete-post-name").val();

        $.ajax({
            type: "POST",
            url: "/edit_object_list",
            data: {
                user_give: user,
                name_give: name
            },
            success: function (response) {
                console.log(response)
                if (response['result'] !== 'success') {
                    alert(response['msg'])
                } else {
                    alert('삭제 완료')
                    location.reload()
                }
            }
        })
    }

    function good_button() {
        let user = "{{ user['name'] }}"
        let name = $(".card-title").val();

        $.ajax({
            type: "POST",
            url: "/plus_rank",
            data: {
                user_give: user,
                name_give: name
            },
            success: function (response) {
                console.log(response)
                if (response['result'] !== 'success') {
                    alert(response['msg'])
                } else {
                    alert(response['msg'])
                    location.reload()
                }
            }
        })
    }

    function bad_button() {
        let user = "{{ user['name'] }}"
        let name = $(".card-title").val();

        $.ajax({
            type: "POST",
            url: "/minus_rank",
            data: {
                user_give: user,
                name_give: name
            },
            success: function (response) {
                console.log(response)
                if (response['result'] !== 'success') {
                    alert(response['msg'])
                } else {
                    alert('수정 완료')
                    location.reload()
                }
            }
        })
    }

</script>
{% endblock %}