html, body {
    margin: 0px;
}

nav {
    height: 8%;
}

section {
    height: 92%;
}

* {
    font-family: 'Gaegu', cursive;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav_title {
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title {
    background-image: url("../static/mywishlist_login.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button {
    width: 5%;
    height: 5%;
    position: fixed;
    bottom: 140px;
    right: 340px;
    /*  Q1. 폰트 효과 같은 것들이 마음에 들게 나오지 않아서 아예 background-image로
        각종 글씨나 아이디 비밀번호 입력칸 같은 걸 다 넣어버렸는데 이것 때문에 버튼 위치가 애매해졌어요..ㅠㅠ
        좋지 못한 선택이었겠죠..?ㅠㅠ 다시 돌려놓을까요..?*/
}